@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
   
body 
    margin: 0

header 
    #oui 
        margin-left: 10%
        nav
            z-index: 2

    #carouselExampleIndicators
        filter: brightness(0.30)
        z-index: 1

    #non
        font-family: $courg
        position: absolute
        top: 200px
        z-index: 2
        color: white
        margin-left: 28%
        margin-top: 5%
        font-size: 40px
        span:nth-child(3)
            color: red
            font-size: 1.5em
        span:first-child 
            font-size: 1.5em

    #button 
        position: absolute
        top: 400px
        display: flex
        align-items: center
        z-index: 2
        margin-left: 38%
        margin-top: 9%
        border: 0px
    .image 
        position: absolute
        margin-left: 38%
        z-index: 2
#blanc 
    



